<h1>Welcome to LocalBank!</h1>
<div class="alert alert-success" role="alert">
    Your operation is success!
</div>
<div class="text-center">
    <button type="button" class="btn btn-primary" onClick="javascript:window.close('','_parent','');">Close</button>
</div>